.perf {
    height: 85px;
    width: 85px;
    border-radius: 3em;
    margin: 0 auto;
    left: 39%;
    position: absolute;
	  background-color: white;
}
.perf i:nth-child(1){
	 background-color: transparent !important;
    color: #ff4081 !important;
	margin: .55em;	
	    font-size: 4em;
    margin: .25em;
}
.perf i:nth-child(2) {
    margin-left: 1em;
    margin-top: -1em;
    background-color: transparent !important;
    color: #ff4081 !important;
    opacity: .8;
}

.change_photo {
    margin-top: 7.7em;
}

.foto {
    margin: 0;
}



.change_datos {
    margin-bottom: 2em;
}

.change_datos form button {
    background-color: #ff4081;
    color: white;
    float: right;
}
.select-icon{
    display: none; 
    margin: 0 auto;
}
.select-icon ul{
    padding-left: 0; 
}

.comentarios{
    margin-bottom: 0;
}
.ficha{
    padding-bottom: 0;
}
.mdl-textfield{
    display: block;
    margin: 0 auto;
}